.table {
  border-collapse: collapse;
  min-width: 100%;
  border-radius: 15px;
  background-color: rgba($color-default-white, 0.6);
  color: $color-default-black;
  text-shadow: 2px 2px 8px $color-default-white;

  @include vp-768 {
    font-size: 12px;
  }
}

.table thead {
  position: sticky;
  top: 0;
  background: linear-gradient(180deg, $color-transparent 0%, rgba($color-default-white, 0.1) 25%, rgba($color-default-white, 0.4) 30%,rgba($color-default-white, 1) 50%, rgba($color-default-white, 1) 100%);
}

.table td,
.table th {
  border: 1px solid $color-default-black;
  padding: 2px 10px;

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
    padding-right: 25px;
  }
}

.table th {
  border-top: none;
  text-shadow:  0 0 4px #81e99f;
}

.table tr {
  position: relative;
}

.table tr:last-child td {
  border-bottom: none;
}

.table__cap {
  &--hidden {
    display: none;
  }

  td {
    text-align: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    background-color: rgba(235, 55, 65, 0.7);
    font-weight: 500;
    text-transform: uppercase;
  }
}

.table__delete-row-button {
  position: absolute;
  cursor: pointer;
  padding: 0;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border: none;
  transition: $trans-default;

  @include hover-focus {
    opacity: 0.2;
  }
}
